[core]
    excludesfile = ~/.gitignore_global
[rebase]
    autoStash = true
[credential]
    helper = store
[alias]
    clean-branches = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
    start = checkout -b
    ca = commit --amend
    can = commit --amend --no-edit
    l = log --graph --decorate --oneline -n 5
    p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    s = status -b -s
    up = !git fetch --all && git fetch origin --prune && git clean-branches
[tag]
    forceSignAnnotated = true
