[core]
    excludesfile = ~/.gitignore_global
[rebase]
    autoStash = true
[credential]
    helper = store
[alias]
    ca = commit --amend
    can = commit --amend --no-edit
    l = log --graph --decorate --oneline -10
    p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    rb = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
    s = status -b -s
    sl = stash list
    sp = stash pop
    up = !git fetch --all && git fetch origin --prune && git rb
[tag]
    forceSignAnnotated = true
